[client]
port=3306
socket=/var/lib/mysql/mysql.sock
default-character-set = utf8

[mysqld]
port=3306
basedir=/data/apps/mysql
datadir=/data/apps/mysql/data
socket=/tmp/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

############# default settings  ################
# time zone
default-time-zone = system
character-set-server = utf8
default-storage-engine = InnoDB

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid